*{
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size:20px;
}

body{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.app-section{
    width: 98%;
    max-width: 960px;
    background: lightcoral;
    border-radius: 20px;
    color:white;
    background: #000000d0;
    display: flex;
    flex-direction: column;
    padding: 5em;
}

h1.temp{

    margin-top: 1.3em;
    margin-bottom: .5em;

}

.icon{
    width: 100px;
}

form{

    display: flex;
    align-items: center;
    height: 35px;
    justify-content: space-between;
   
    height: max-content;

}

.title{
    margin-bottom:0;
    padding-bottom:0;
}

.subtitle{
    padding-bottom: 2rem;
    font-size: .875rem;
}

input{

    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 1.5rem .5rem;
    background: #ffffff2b;
    color: white;
    font-weight: 500;
    
}

button{
    width: 20%;
    height: 90px;
    margin: 0;
    display: block;
   
    border: none;
    background: #ffffff2b;
    color: white;
    font-size: 1.2rem;
  
    outline: none;
    border-radius: 30px;
}

.weather-container.loading{
    visibility: hidden;
    position: relative;
}

.weather-container.loading:after{
    visibility: visible;
    color: white;
    position: absolute;
    content: "Loading ...";
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}


